.top_bar{
	background:#f26522;
	padding:5px;
}
.social_icons{
	margin-right:5px;
}
.contact_info{
	color:#fff; font-size:16px;
}

.my_menu{
	margin-top:27px;
}

.my_menu .navbar-default{
	background:none;border:none;
}
.my_menu .navbar-nav .active a, .my_menu .navbar-nav .active.a:hover{
	background:#F26522; 
	color:#fff;
}
.my_menu .navbar-nav li a:hover{
	background:#F26522;
}
